.switch-priority {
  display: inline-block;
  position: absolute;
  left: .6rem;
  top: .5rem;

  a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1rem;
  }
}

.github-logo {
  display: inline-block;
  position: absolute;
  right: .55rem;
  top: .5rem;
  a img {
    max-width: 1.5rem;
    float: right;

  }
}

.pixeltoprint-header {
    display: block;
    background-color: pink;
    @include hide-text;
    background-image: url(/images/PixelCalc_header_spriteTB_542x220.jpg);
    background-repeat: no-repeat;
}
