.switch-priority {
  display: inline-block;
  @include span-columns(3 of 12);
  padding-top: .6rem;

  a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.github-logo {
  display: inline-block;
  @include span-columns(3 of 12);
  @include shift(6);

  a img {
    max-width: 1.5rem;
    float: right;
  }
}

.pixeltoprint-header {
    display: block;
    background-color: pink;
    @include hide-text;
    background-image: url(/images/PixelCalc_header_spriteTB_542x220.jpg);
    background-repeat: no-repeat;
}
