//VARIABLES

$primary-color: #00ffff;
$secondary-color: #29abe2;


//ELEMENT STYLES

body {
  background-color: white;
  font-family: 'Oswald', 'Helvetica', sans-serif;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-family: 'Kaushan Script', cursive;
  color: $secondary-color;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
