//VARIABLES

$primary-color-cyan: #00ffff;
$secondary-color-periwinkle: #29abe2;


//ELEMENT STYLES

body {
  background-color: #eee;
  font-family: 'Oswald', 'Helvetica', sans-serif;
  color: $primary-color-cyan;
}

h2, h3 {
  font-family: 'Kaushan Script', cursive;
  color: $secondary-color-periwinkle;
  font-size: 2em;
}

ul, li, {
  margin: 0;
  padding: 0 .25em;
}

li {
  padding: 1em;
  list-style: none;
  font-size: .75em;
  letter-spacing: 2px;
}
