@import "1-base/_base-dir.scss";
@import "2-layouts/_layouts-dir.scss";
@import "3-modules/_modules-dir.scss";



p {
  color: red;
  h1 {
    color: blue;
    margin: 15;
  }

}

/**********************************
GENERAL
***********************************/
/**********************************
HEADING
***********************************/

// font-family: 'Kaushan Script', cursive;
// font-family: 'Oswald', sans-serif;
