header {
  @include outer-container(100%);
  @include span-columns(12);
  background-color: $primary-color;
}

#main-wrapper {
    @include outer-container(100%);
    @include span-columns(12);

    background-color: green;
}

.input {
  @include span-columns(8 of 12);
  @include shift(2 of 12);
  background-color: yellow;
}

.output {
  @include span-columns(8 of 12);
  @include shift(2 of 12);
  background-color: orange;
}

#pixeltoprint {
  @include hide-text;
  @include size(542px 110px);
  background-image: url(images/PixelCalc_header_spriteTB_542x220.jpg) 0 0;
}
