#main-wrapper {
    @include outer-container;
    background-color: green;
}

.input {
  @include span-columns(8);
  @include shift(2 of 12);
  background-color: yellow;
}

.output {
  @include span-columns(8);
  @include shift(2 of 12);
  background-color: orange;
}
